EXPO_PUBLIC_API_URL=https://www.tanaid-honoy.mn/api
EXPO_PUBLIC_MAPTILER_KEY=your_maptiler_key
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_android_client_id.apps.googleusercontent.com
