EXPO_PUBLIC_API_URL=https://www.tanaid-honoy.mn/api
EXPO_PUBLIC_MAPTILER_KEY=your_maptiler_key
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
# Android OAuth client нь Google Cloud дээр package name + SHA-1-ээр бүртгэгдэнэ.
